.error {
    font-family: 'Montserrant', sans-serif;
    color: #FF0000;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .5rem 0;
    max-width: 360px;
    max-height: 70px;
    background: rgba(251, 1, 1, 0.2);
    border: 1px solid #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    font-family: 'Montserrant', sans-serif;
    color: #16CB49;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .5rem 0;
    max-width: 360px;
    background: rgba(1, 251, 26, 0.2);
    border: 1px solid #1CB835;
    display: flex;
    justify-content: center;
    align-items: center;
}